/* Redéfinition des tailles de police en base 10 */
/* merienda-regular - latin */
@font-face {
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/merienda-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/merienda-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/merienda-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merienda-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/merienda-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/merienda-v14-latin-regular.svg#Merienda') format('svg'); /* Legacy iOS */
}

/* athiti-regular - latin */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/athiti-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/athiti-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/athiti-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/athiti-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/athiti-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/athiti-v12-latin-regular.svg#Athiti') format('svg'); /* Legacy iOS */
}


html {
    font-size: 62.5%;
}

body * {
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: 'Athiti';
    font-weight: 800;
    background-color: #eee;
    width: 700px;
    margin: auto;
}

img {
    max-width: 100%;
}

.footer {
    background-color: #444;
    text-align: center;
    color: white;
    padding: 2rem;
}

.header {
    background: linear-gradient(to bottom, #ebe3db 0%,#ffffff 100%);
    text-align: center;
    color: white;
    padding: 2rem;
}

h1, h2, h3 {
    color: #4c4343;
    font-family: Merienda;
    text-align: center;
}

.etoile::before, .etoile::after {
    content: "*";
	padding: 0 1rem;
	color: #950000;
}

.etoiles::before {
    content: "*";
	padding: 0 1rem;
	color: #950000;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto 0;
    background-color: #ebe3db;
}

.logo {
    width: 120px;
    margin: auto;
}

.header {
    display: block;
}

nav {
    width: 100%;
    text-align: center;
}

ul {
    padding-left: 0;
}

.container li {
    border-bottom: solid  1px #4c4343;
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: #4c4343;
    display: block;
}

nav li:hover, nav li:focus, nav li a:hover, nav li a:focus, .current{
	background-color: #4c4343;
	color: #fff;
}

/* slider */

.slick-prev::before, .slick-next::before {
    font-size: 4rem;
}

.slick-prev, .slick-next {
    top: 47%;
}

.slick-prev {
    left: 1rem;
    z-index:1;
}

.slick-next {
    right: 3rem;
}

.slick-dots li button::before {
    font-size: 1.25rem;
}

.slick-dots li.slick-active button::before {
    color: #950000;
}



main {
    padding: 2rem;
}

.location {
    margin: auto;
}

.meat, .fish, .vege {
    margin-bottom: 5rem;
}

.menus {
    background-color: #ebe3db;
    margin-bottom: 4rem;
}

.ingredients {
    border-bottom: dashed 1px #4c4343;
}

a.readmore {
  background-color: #4c4343;
  color: #FFF;
  padding: 0.5em 1em;
  display: flex;
  justify-content: center;
  margin: 0 1em;
}

footer {
    background-image: url(../img/footer-bg.jpg);
    color: #ebe3db;
    padding: 2rem;
    text-align: center;
}

footer h3, footer a {
    color: #ebe3db;
}

footer h3 {
    border-bottom: dashed #ebe3db;
}

footer article {
    margin-bottom: 5rem;
}

footer adress {
    margin-bottom: 5rem;
}

.icons {
    font-size: 30px;
}


/* *****************************************************************
TABLETTE
***************************************************************** */

@media screen and (min-width: 780px) {
    body {
        width: 100%;
    }
	footer {
	    display: flex;
	    justify-content: space-around;
	}
}


/* *****************************************************************
DESKTOP
***************************************************************** */

@media screen and (min-width: 1100px) {
    body {
        width: 100%;
    }
    
    nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 1rem;
	}
	nav ul {
		margin: 0;
	}
	.logo {
	    display: flex;
		flex-direction: row;
		justify-content: start;
	}
    
	footer {
	    display: flex;
	    justify-content: space-around;
	}
}


/* *****************************************************************
MENU.HTML
***************************************************************** */

.navmenus {
    display: flex;
}

.grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50%  50%;
    gap: 1rem;
    background-color: #ebe3db;
    padding: 4rem;
}